html,
body {
	font-family: $Montserrat;
	font-style: normal;
	font-weight: 400;
	color: $gray-light;
}
.span--red {
	display: inline-block;
	color: $red;
	font-family: $Roboto;
	font-size: 12px;
	letter-spacing: 5px;
	line-height: 14px;
	text-transform: uppercase;

	@media screen and (max-width: 992px) {
		font-size: 10px;
	}
	@media screen and (max-width: 576px) {
		font-size: 8px;
	}
}
.section-heading {
	font-size: 38px;
	letter-spacing: 0;
	line-height: 47px;
	font-weight: bold;
	@media screen and (max-width: 992px) {
		font-size: 30px;
		line-height: 40px;
	}
	@media screen and (max-width: 576px) {
		font-size: 22px;
		line-height: 30px;
	}
}

//Navigation
.nav__link,
.nav__drop-link {
	color: rgba($color: $white, $alpha: 0.5);
	font-family: $Roboto;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 16px;
	text-align: center;
}
.nav__link--active,
.nav__link--contact {
	color: rgba($color: $white, $alpha: 1);
}

.nav__drop-link {
	font-size: 12px;
	color: $white;
}
//Hero Slider
.hero-slider__heading {
	color: #ffffff;
	font-size: 48px;
	letter-spacing: 0;
	line-height: 58px;
	font-weight: bold;

	@media screen and (max-width: 992px) {
		font-size: 32px;
		line-height: 42px;
	}
	@media screen and (max-width: 576px) {
		font-size: 25px;
		line-height: 30px;
	}
}
.hero-slider__paragraph {
	color: $gray-paragraph;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 26px;

	@media screen and (max-width: 992px) {
		font-size: 12px;
		line-height: 18px;
	}
	@media screen and (max-width: 576px) {
		font-size: 12px;
		color: $white;
	}
}

//About
.about__img-text {
	opacity: 0.5;
	color: $white;
	font-size: 14px;
	font-style: italic;
	letter-spacing: 0;
	line-height: 25px;
	@media screen and (max-width: 992px) {
		opacity: 1;
		color: $gray;
	}
	@media screen and (max-width: 576px) {
		font-size: 12px;
	}
}
.about__heading {
	color: $gray-dark;
}
.about__primary-paragraph {
	color: $gray-dark;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 30px;

	font-weight: bold;
	@media screen and (max-width: 992px) {
		font-size: 16px;
		line-height: 22px;
	}
	@media screen and (max-width: 576px) {
		font-size: 14px;
		line-height: 20px;
	}
}

.about__secondary-paragraph {
	color: $gray;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 25px;
	@media screen and (max-width: 992px) {
		font-size: 14px;
		line-height: 20px;
	}
	@media screen and (max-width: 576px) {
		font-size: 12px;
		line-height: 16px;
	}
}

//Featured
.featured__heading {
	color: $white;
}
.featured__paragraph {
	color: $gray-paragraph;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 26px;
	@media screen and (max-width: 992px) {
		font-size: 14px;
		line-height: 20px;
	}
}
.featured__spec-primary {
	color: $white;
	font-family: $Roboto;
	font-size: 12px;
	letter-spacing: 3px;
	line-height: 14px;
	text-transform: uppercase;
	@media screen and (max-width: 576px) {
		font-size: 12px;
		line-height: 16px;
	}
}
.featured__spec-secondary {
	color: $white;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 34px;
	@media screen and (max-width: 576px) {
		font-size: 22px;
		line-height: 22px;
	}
}
.featured__spec-tertiray {
	color: $white;
	font-size: 14px;
	font-style: italic;
	letter-spacing: 0;
	line-height: 18px;
	@media screen and (max-width: 576px) {
		font-size: 12px;
		line-height: 16px;
	}
}
