//fonts
$Montserrat: 'Montserrat', Helvetica, sans-serif;
$Roboto: 'Roboto', Helvetica, sans-serif;
//Layout
$desktop-width: 1440px;
$dekstop-wrapper: 1170px;
//Colors
$white: #fff;
$black: #000;
$gray: #4e4e4e;
$gray-blue: #929aad;
$gray-dark: #212121;
$gray-light: #ccc5c5;
$gray-lighter: #f3f3f5;
$gray-lightest: #d8d8d8;
$gray-paragraph: #ccc5c5;
$green: #011f05;
$green-light: #59ceb2;
$red: #fa2a2a;
$red-transparent: rgba(250, 42, 42, 0.1);
